<!-- 
<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
 -->
<%= csrf_meta_tags %>
<div class="jumbotron">
      <div class="container">
      <h2 align="center">Hello Traveler, How can we help you today?</h2><br>
          <form role="form" action="/liftoff" method="POST">
            <div class="form-group">
              <input type="text" placeholder="e.g. Best Thai soup nearby" class="form-control" name="query" id="query" required>
              <input type="hidden" name="latitude" id="latitude" required>
              <input type="hidden" name="longitude" id="longitude" required>
              <input class="btn btn-xs" type="button" onclick="getLocation()" value="location">
              <br>
              <center><button type="submit" class="btn btn-success">Go!</button></center>
            </div>
          </form>
      </div>
    </div>	



<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
	document.getElementById("latitude").value=position.coords.latitude;
	document.getElementById("longitude").value=position.coords.longitude;
}
</script>